/* src/styles.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #020617; /* fundo geral */
  color: #e5e7eb;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    sans-serif;
}
